
<a class="actionbtn" href="mailto: {{site.email}}">
  <i class="fa fa-envelope-o"></i> contact me
</a>


<h2 class="centerheader">Contact:</h2>
<ul class="list-unstyled sidebar-list">
  <li class="sidebar-link"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
  <li class="sidebar-link"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
  <li class="sidebar-link"><i class="fa fa-pencil"></i>Jutastrasse 23</li>
  <li class="sidebar-link">80636 Munich</li>
</ul>
