 <section class="mysection">
  <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
  <div class="item">
    <div class="upper-row">
      <h3 class="description">LMU University of Munich</h3>
      <div class="time">2014 - 2017</div>
      <div class="type">MSc in Statistics</div>
    </div>
  </div>
  <div class="item">
    <div class="upper-row">
      <h3 class="description">LMU University of Munich</h3>
      <div class="time">2011 - 2014</div>
    </div>
    <div class="type">BSc in Statistics</div>
  </div>
  <div class="item">
    <div class="upper-row">
      <h3 class="description">Louise-Schroeder-Gymnasium Munich</h3>
      <div class="time">2000 - 2009</div>
    </div>
    <div class="type">Secondary School</div>
  </div>
</section>
