<section class="mysection">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
  <div class="item">
    <div class="upper-row">
      <h3 class="description">Student Assistant</h3>
      <div class="time">2014 - 2017</div>
      <div class="type">Research</div>
    </div>
    <div class="mypar">
      <p>
        In my role as a research assistant is was
        contributing to the mlr-package. This is a
        R-package for machine learning in R.
        I'm still part of the mlr-organization and
        contributing to the package by cleaning up
        the issue tracker, as well as implementimg
        new features into the package.
      </p>
    </div>
  </div>
  <div class="item">
    <div class="upper-row">
      <h3 class="description">Student Assistant</h3>
      <div class="time">2014 - 2017</div>
      <div class="type">Teaching</div>
    </div>
    <div class="mypar">
      <p>
        In my role as a tutor I was supervising two
        lectures both held by our working group
        Computational statistics:
        <ul>
          <li>Computer Science for Statisticans</li>
          <li> Predictive Modelling </li>
        </ul>
        I was responsible for supervising tutorials,
        as well as improving and maintaing the lecture
        slides.
      </p>
    </div>
  </div>
</section>

