<section class="mysection">
  <h2 class="section-title"><i class="fa fa-cogs"></i>Projects</h2>
  <div class="item">
    <div class="upper-row">
      <h3 class="description">mlr</h3>
      <div class="time">2014 - present</div>
      <div class="type">R Package</div>
    </div>
    <div class="mypar">
      <h4>
        Machine Learning in R
      </h4>
      <p>
        R package that provides a unified user interface
        for machine learning experiments.
     </p>
    </div>
  </div>
  <div class="item">
    <div class="upper-row">
      <h3 class="description">shiny-mlr</h3>
      <div class="time">2014 - present</div>
      <div class="type">shiny based web app</div>
    </div>
    <div class="mypar">
      <h4>
        Graphical user interface that wraps the functionality of mlr in a web app.
      </h4>
      <p>
        I started this project together with
        <a href="https://github.com/Coorsaa" target="_blank">
          Stefan Coors
        </a>
        as a students project.
        Both of us love it so much, we can't stop enhancing
        and improving the app to make it competetive
        with other similar applications (which are mostly
        not open source, so please give as a hug if you like
        using it)
     </p>
    </div>
  </div>
</section>
