<div class="sidebar-wrapper">
  <div class="profile-container">
    <img
      class="profile-img"
      src="{{site.baseurl}}/assets/images/profile.png"
      alt="profile picture"
    />
    <h1 class="name">{{site.name}}</h1>
    <h3 class="tagline">{{site.tagline}}</h3>
  </div>
  <div class="link-container">
    <a class="linkbtn" href="{{site.baseurl}}{% link index.html %}">
      <i class="fa fa-home"></i> home
    </a>
<!--
    </a>
        <a class="linkbtn" href="mailto: {{site.email}}">
      <i class="fa fa-envelope-o"></i> blog
    </a>
-->
    <a class="linkbtn" href="{{site.baseurl}}{% link cv.html %}">
      <i class="fa fa-book"></i> cv
    </a>
  </div>
  <div class="contact-container">
    <a class="actionbtn" href="mailto: {{site.email}}">
      <i class="fa fa-envelope-o"></i> contact me
    </a>
    {% include social.html %}
  </div>
</div>
