<h3 class="centerheader">Stalk me here:</h3>
<div class="social-container">
  <div class="social-icon">
    <a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github fa-lg"></i></a>
  </div>
  <div class="social-icon">
    <a href="https://www.facebook.com/Floet" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
  </div>
  <div class="social-icon">
    <a href="https://www.instagram.com/flo_tographer/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
  </div>
</div>

